@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.container {
  padding: 96px 0 ;
}
ul {
  list-style: none;
  
}

li {
  
}
/* #LANDING */

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
display: flex;
align-items: center;
}

.nav__img--logo {
height: 40px;
width: 40px;
}

.nav__img--title {
  display: flex;
  font-size: 25px;
}

.nav__link,
.nav__link--login {
text-decoration: none;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  display: flex;
  padding: 0 12px;

}

.nav__link--login {
  padding:0 48px;
}

.nav__link--primary {
  border: 2px solid #7802ff;
  border-radius: 50px;
  background-color: #7802ff;
  color: #fff;
  padding: 8px 8px;
}